In [0]:
import pandas as pd
import numpy as np

In [0]:
movies_df=pd.read_csv('movies.csv')
ratings_df=pd.read_csv('ratings.csv')

In [0]:
df=pd.merge(movies_df,ratings_df,on='movieId')

In [0]:
df

        movieId                                      title  ... rating   timestamp
0             1                           Toy Story (1995)  ...    4.0   964982703
1             1                           Toy Story (1995)  ...    4.0   847434962
2             1                           Toy Story (1995)  ...    4.5  1106635946
3             1                           Toy Story (1995)  ...    2.5  1510577970
4             1                           Toy Story (1995)  ...    4.5  1305696483
...         ...                                        ...  ...    ...         ...
100831   193581  Black Butler: Book of the Atlantic (2017)  ...    4.0  1537109082
100832   193583               No Game No Life: Zero (2017)  ...    3.5  1537109545
100833   193585                               Flint (2017)  ...    3.5  1537109805
100834   193587        Bungo Stray Dogs: Dead Apple (2018)  ...    3.5  1537110021
100835   193609        Andrew Dice Clay: Dice Rules (1991)  ...    4.0  1537157606

[100836 rows x 6 columns]

In [0]:
combine_movie_rating=df.dropna(axis=0,subset=['title'])

In [0]:
movie_ratingCount = (combine_movie_rating.
     groupby(by = ['title'])['rating'].
     count().
     reset_index().
     rename(columns = {'rating': 'totalRatingCount'})
     [['title', 'totalRatingCount']]
    )
movie_ratingCount.head()

                                     title  totalRatingCount
0                               '71 (2014)                 1
1  'Hellboy': The Seeds of Creation (2004)                 1
2                   'Round Midnight (1986)                 2
3                      'Salem's Lot (2004)                 1
4                'Til There Was You (1997)                 2

In [0]:
rating_total=pd.merge(combine_movie_rating,movie_ratingCount,on='title')

In [0]:
rating_total

        movieId  ... totalRatingCount
0             1  ...              215
1             1  ...              215
2             1  ...              215
3             1  ...              215
4             1  ...              215
...         ...  ...              ...
100831   193581  ...                1
100832   193583  ...                1
100833   193585  ...                1
100834   193587  ...                1
100835   193609  ...                1

[100836 rows x 7 columns]

In [0]:
rating_total=rating_total[['userId','movieId','rating','title','totalRatingCount']]

In [0]:
rating_total

        userId  ...  totalRatingCount
0            1  ...               215
1            5  ...               215
2            7  ...               215
3           15  ...               215
4           17  ...               215
...        ...  ...               ...
100831     184  ...                 1
100832     184  ...                 1
100833     184  ...                 1
100834     184  ...                 1
100835     331  ...                 1

[100836 rows x 5 columns]

In [0]:
threshold_rating=50
rating_total_final=rating_total.query('totalRatingCount >= @threshold_rating')
rating_total_final.head()

   userId  movieId  rating             title  totalRatingCount
0       1        1     4.0  Toy Story (1995)               215
1       5        1     4.0  Toy Story (1995)               215
2       7        1     4.5  Toy Story (1995)               215
3      15        1     2.5  Toy Story (1995)               215
4      17        1     4.5  Toy Story (1995)               215

In [0]:
rating_total_final.shape

(41362, 5)

In [0]:
movie_feature_df=rating_total_final.pivot_table(values='rating',index='title',columns='userId').fillna(0)
movie_feature_df.head()

userId                             1    2    3    4    ...  607  608  609  610
title                                                  ...
10 Things I Hate About You (1999)  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
12 Angry Men (1957)                0.0  0.0  0.0  5.0  ...  0.0  0.0  0.0  0.0
2001: A Space Odyssey (1968)       0.0  0.0  0.0  0.0  ...  0.0  3.0  0.0  4.5
28 Days Later (2002)               0.0  0.0  0.0  0.0  ...  0.0  3.5  0.0  5.0
300 (2007)                         0.0  0.0  0.0  0.0  ...  0.0  5.0  0.0  4.0

[5 rows x 606 columns]

In [0]:
from scipy.sparse import csr_matrix

In [0]:
movie_feature_df_matrix=csr_matrix(movie_feature_df.values)

In [0]:
movie_feature_df_matrix.shape

(450, 606)

In [0]:
from sklearn.neighbors import NearestNeighbors

In [0]:
model_knn=NearestNeighbors(n_neighbors=5,algorithm='brute',metric='cosine')

In [0]:
model_knn.fit(movie_feature_df_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [0]:
query_index= np.random.choice(movie_feature_df.shape[0])
query_index

134

In [0]:
distances,indices=model_knn.kneighbors(movie_feature_df.iloc[query_index,:].values.reshape(1,-1),n_neighbors=6)

In [0]:
for i in range(0,len(distances.flatten())):
  if (i==0):
    print('Recommendations for {0}:\n'.format(movie_feature_df.index[query_index]))
  else:
    print('{0},{1} with distances of {2}'.format(i,movie_feature_df.index[indices.flatten()[i]],distances.flatten()[i]))

Recommendations for Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964):

1,Blade Runner (1982) with distances of 0.4195647886111097
2,Rear Window (1954) with distances of 0.4395267433111216
3,Apocalypse Now (1979) with distances of 0.44065213080049015
4,2001: A Space Odyssey (1968) with distances of 0.44493220439849623
5,Psycho (1960) with distances of 0.44688147291981495